In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv('../data/drivers_updated.csv')
df2 = pd.read_csv('../data/fastest_laps_updated.csv')
df3 = pd.read_csv('../data/teams_updated.csv')
df4 = pd.read_csv('../data/winners.csv')

# Objetivos del análisis
### Comparativa vueltas rapidas entre años
### Comprobación dominancia de escuderias por ptos entre temporadas
### Nacionalidades predominantes en la f1

In [3]:
df1

,Pos,Driver,Nationality,Car,PTS,year,Code
0,1,Nino Farina,ITA,Alfa Romeo,30.0,1950,FAR
1,2,Juan Manuel Fangio,ARG,Alfa Romeo,27.0,1950,FAN
2,3,Luigi Fagioli,ITA,Alfa Romeo,24.0,1950,FAG
3,4,Louis Rosier,FRA,Talbot-Lago,13.0,1950,ROS
4,5,Alberto Ascari,ITA,Ferrari,11.0,1950,ASC
...,...,...,...,...,...,...,...
1656,17,Kevin Magnussen,DEN,Haas Ferrari,1.0,2024,MAG
1657,18,Pierre Gasly,FRA,Alpine Renault,1.0,2024,GAS
1658,19,Zhou Guanyu,CHN,Kick Sauber Ferrari,0.0,2024,ZHO
1659,20,Valtteri Bottas,FIN,Kick Sauber Ferrari,0.0,2024,BOT
1660,21,Logan Sargeant,USA,Williams Mercedes,0.0,2024,SAR

In [32]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1661 entries, 0 to 1660
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   pos          1661 non-null   object
 1   driver       1661 non-null   object
 2   nationality  1661 non-null   object
 3   car          1651 non-null   object
 4   pts          1661 non-null   float64
 5   year         1661 non-null   int64
 6   code         1661 non-null   object
dtypes: float64(1), int64(1), object(5)
memory usage: 91.0+ KB

In [4]:
df1.isna().sum()

Pos             0
Driver          0
Nationality     0
Car            11
PTS             0
year            0
Code            0
dtype: int64

In [5]:
df1.columns = df1.columns.str.lower()

In [6]:
df1[df1.car.isna()]

    pos               driver nationality  car   pts  year code
16   13     Dorino Serafini          ITA  NaN   3.0  1950  SER
17   13  Philippe Etancelin          FRA  NaN   3.0  1950  ETA
21   20      Eugene Chaboud          FRA  NaN   1.0  1950  CHA
35   12        Louis Rosier          FRA  NaN   3.0  1951  ROS
53   13         Ken Wharton          GBR  NaN   3.0  1952  WHA
309  18     Masten  Gregory          USA  NaN   0.0  1963  GRE
314  18      Mike  Hailwood          GBR  NaN   0.0  1963  HAI
446  13    Richard  Attwood          GBR  NaN   3.0  1969  ATT
478   2    Ronnie  Peterson          SWE  NaN  33.0  1971  PET
492  16       Mark  Donohue          USA  NaN   4.0  1971  DON
493  16    Henri  Pescarolo          FRA  NaN   4.0  1971  PES

In [29]:
df1[df1.year==1950].sort_values(by='car')

,pos,driver,nationality,car,pts,year,code
0,1,Nino Farina,ITA,Alfa Romeo,30.0,1950,FAR
1,2,Juan Manuel Fangio,ARG,Alfa Romeo,27.0,1950,FAN
2,3,Luigi Fagioli,ITA,Alfa Romeo,24.0,1950,FAG
6,7,Bill Holland,USA,Deidt Offenhauser,6.0,1950,HOL
10,9,Mauri Rose,USA,Deidt Offenhauser,4.0,1950,ROS
19,20,Tony Bettenhausen,USA,Deidt Offenhauser,1.0,1950,BET
16,13,Dorino Serafini,ITA,Ferrari,3.0,1950,SER
4,5,Alberto Ascari,ITA,Ferrari,11.0,1950,ASC
11,9,Peter Whitehead,GBR,Ferrari,4.0,1950,WHI
14,13,Cecil Green,USA,Kurtis Kraft Offenhauser,3.0,1950,GRE
20,20,Joie Chitwood,USA,Kurtis Kraft Offenhauser,1.0,1950,CHI
5,6,Johnnie Parsons,USA,Kurtis Kraft Offenhauser,9.0,1950,PAR
7,8,Prince Bira,THA,Maserati,5.0,1950,BIR
8,9,Reg Parnell,GBR,Maserati,4.0,1950,PAR
9,9,Louis Chiron,MON,Maserati,4.0,1950,CHI
18,19,Felice Bonetto,ITA,Maserati Milano,2.0,1950,BON
15,13,Robert Manzon,FRA,Simca-Gordini,3.0,1950,MAN
12,13,Yves Giraud Cabantous,FRA,Talbot-Lago,3.0,1950,CAB
13,13,Raymond Sommer,FRA,Talbot-Lago,3.0,1950,SOM
3,4,Louis Rosier,FRA,Talbot-Lago,13.0,1950,ROS
17,13,Philippe Etancelin,FRA,NaN,3.0,1950,ETA
21,20,Eugene Chaboud,FRA,NaN,1.0,1950,CHA

In [30]:
df1.iloc[16, 3] = 'Ferrari'  # lo de corchete del iloc es: el primmer numero index, segundo numero columna

In [33]:
df1[df1.year==1950].sort_values(by='car').reset_index()

,index,pos,driver,nationality,car,pts,year,code
0,0,1,Nino Farina,ITA,Alfa Romeo,30.0,1950,FAR
1,1,2,Juan Manuel Fangio,ARG,Alfa Romeo,27.0,1950,FAN
2,2,3,Luigi Fagioli,ITA,Alfa Romeo,24.0,1950,FAG
3,6,7,Bill Holland,USA,Deidt Offenhauser,6.0,1950,HOL
4,10,9,Mauri Rose,USA,Deidt Offenhauser,4.0,1950,ROS
5,19,20,Tony Bettenhausen,USA,Deidt Offenhauser,1.0,1950,BET
6,16,13,Dorino Serafini,ITA,Ferrari,3.0,1950,SER
7,4,5,Alberto Ascari,ITA,Ferrari,11.0,1950,ASC
8,11,9,Peter Whitehead,GBR,Ferrari,4.0,1950,WHI
9,14,13,Cecil Green,USA,Kurtis Kraft Offenhauser,3.0,1950,GRE
10,20,20,Joie Chitwood,USA,Kurtis Kraft Offenhauser,1.0,1950,CHI
11,5,6,Johnnie Parsons,USA,Kurtis Kraft Offenhauser,9.0,1950,PAR
12,7,8,Prince Bira,THA,Maserati,5.0,1950,BIR
13,8,9,Reg Parnell,GBR,Maserati,4.0,1950,PAR
14,9,9,Louis Chiron,MON,Maserati,4.0,1950,CHI
15,18,19,Felice Bonetto,ITA,Maserati Milano,2.0,1950,BON
16,15,13,Robert Manzon,FRA,Simca-Gordini,3.0,1950,MAN
17,12,13,Yves Giraud Cabantous,FRA,Talbot-Lago,3.0,1950,CAB
18,13,13,Raymond Sommer,FRA,Talbot-Lago,3.0,1950,SOM
19,3,4,Louis Rosier,FRA,Talbot-Lago,13.0,1950,ROS
20,17,13,Philippe Etancelin,FRA,NaN,3.0,1950,ETA
21,21,20,Eugene Chaboud,FRA,NaN,1.0,1950,CHA

In [44]:
df1[df1.driver.str.contains('maurice', case=False, na=False)]

    pos                driver nationality            car   pts  year code
59   16  Maurice Trintignant          FRA        Gordini   2.0  1952  TRI
74   11  Maurice Trintignant          FRA        Gordini   4.0  1953  TRI
85    4  Maurice Trintignant          FRA        Ferrari  17.0  1954  TRI
111   4  Maurice Trintignant          FRA        Ferrari  11.3  1955  TRI
172  12  Maurice Trintignant          FRA        Ferrari   5.0  1957  TRI
188   7  Maurice Trintignant          FRA  Cooper Climax  12.0  1958  TRI
207   5  Maurice Trintignant          FRA  Cooper Climax  19.0  1959  TRI
303  18  Maurice Trintignant          FRA            BRM   0.0  1963  TRI
347  16  Maurice Trintignant          FRA            BRM   2.0  1964  TRI

In [69]:
def buscar_nombre_df1(columna, nombre):

    return df1[df1[columna].str.contains(nombre, case=False, na=False)]

In [71]:
buscar_nombre_df1('car', 'fer')

,pos,driver,nationality,car,pts,year,code
4,5,Alberto Ascari,ITA,Ferrari,11.0,1950,ASC
11,9,Peter Whitehead,GBR,Ferrari,4.0,1950,WHI
16,13,Dorino Serafini,ITA,Ferrari,3.0,1950,SER
23,2,Alberto Ascari,ITA,Ferrari,25.0,1951,ASC
24,3,Jose Froilan Gonzalez,ARG,Ferrari,24.0,1951,GON
...,...,...,...,...,...,...,...
1651,12,Oliver Bearman,GBR,Ferrari,6.0,2024,BEA
1652,13,Nico Hulkenberg,GER,Haas Ferrari,6.0,2024,HUL
1656,17,Kevin Magnussen,DEN,Haas Ferrari,1.0,2024,MAG
1658,19,Zhou Guanyu,CHN,Kick Sauber Ferrari,0.0,2024,ZHO
1659,20,Valtteri Bottas,FIN,Kick Sauber Ferrari,0.0,2024,BOT